.menu-options {
    color: white;
    align-items: flex-start;
}

.menu-options a:visited, a:link{
    color: white;
    text-decoration: none;
}

.menu-options a:hover{
    color: white;
    background-color: #e72f85 ;
    text-decoration: none;
}

.menu-options a {
    padding: 5px 10px;
    border-radius: 20px;
}